# Core LlamaIndex
llama-index
llama-index-vector-stores-postgres
llama-index-embeddings-openai       #<-- NEW (Fixes the crash)

# Database Drivers
asyncpg
psycopg[binary]
psycopg-pool
langgraph-checkpoint-postgres

# LangChain & AI
langchain
langchain-openai
langgraph
langchain-community

# Search & Utils
# google-search-results             <-- REMOVE (Wrong package)
langsmith
openai
pypdf
requests
python-dotenv
fastapi
uvicorn

pymupdf
llama-index-readers-file